

<div class="h-25 container-fluid">
    <div class="row h-100">
        <div class="header text-center pt-5 pb-5 col-12">
            <h1 class="text-light m-0 header-text">
                Chris Weaver
            </h1>
            <p class="text-light m-0 mb-3 header-text">
                Software Developer
            </p> 
            <!-- <div class="row">
                <span class="inline-block col-12">
                    <a target="_blank" href="https://angular.io/"><img src="/assets/images/icons/angular.ico" title="Angular" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://www.mongodb.com/"><img src="/assets/images/icons/mongodb.ico" title="MongoDB" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://dotnet.microsoft.com/"><img src="/assets/images/icons/dotnet.png" title="Dotnet Core" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://www.docker.com/"><img src="/assets/images/icons/docker.png" title="Docker" class="mx-1" style="width: 30px;"></a>        
                    <a target="_blank" href="https://nodejs.org/"><img src="/assets/images/icons/nodejs.png" title="NodeJS" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://github.com/"><img src="/assets/images/icons/github.svg" title="Github" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://www.python.org/"><img src="/assets/images/icons/python.png" title="Python" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://azure.microsoft.com/"><img src="/assets/images/icons/azure.png" title="Azure" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://git-scm.com/"><img src="/assets/images/icons/git.png" title="git" class="mx-1" style="width: 30px;"></a>
                    <a target="_blank" href="https://electronjs.org/"><img src="/assets/images/icons/electron.png" title="Electron" class="mx-1" style="width: 30px;"></a>
                </span>
            </div> -->
        </div>  
    </div>
</div>