
.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;    
    color: #efede6 !important;
}

.nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #efede6 !important;
}

.nav-link:hover {
    color: #917365 !important;
}

.navbar {
    border-top: 2px solid #EFEDE6;
}

.site {
    max-width: 80%;
    margin: auto
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: #0f1d2c;
    height: 100%;
}

html {
    height: 100%;
}

.main-bg-dark {
    background-color: #0f1d2c;
    color: #EFEDE6;
}

.main-bg-light {
    background-color: #EFEDE6;
    color: #0f1d2c;
}

.highlight {
    color: #917365 !important;
}

.header {
  background-image: url("/assets/images/bg-2-1080.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
    border: 0px !important;
}

.header-text {
    font-weight: bolder;
    text-shadow: 1px 1px #917365;
}