/* 
    primary f2a780
    primary highligh 972c4e
    secondary 615a56de
    light efede6
    dark 0f1d2c
    dark secondary 233345
*/

.nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #efede6 !important;
}

.nav-link:hover {
    color: #e83e73 !important;
}

.navbar {
    border-top: 2px solid #e83e73;
    border-bottom: 1px solid #233345;
}

.active {
    border-bottom: 3px solid #e83e73;
}

.site {
    max-width: 70%;
    margin: auto
}

@media (max-width: 768px) {
    .site {
        max-width: 95%;
    }
}

@media (max-width: 992px) {
    .site {
        max-width: 85%;
    }
}

a {
    color: #e83e73 !important;
}

a:hover {
    color:#972c4e !important;
}

body {
    font-family: Tahoma, Geneva, sans-serif !important;
    background-color: #0f1d2c;
    height: 100%;
}

html {
    height: 100%;
}

.main-bg-dark {
    background-color: #0f1d2c;
    color: #efede6;
}

.main-bg-light {
    background-color: #EFEDE6;
    color: #0f1d2c;
}

.highlight {
    color: #615a56de !important;
}

.header {
  background-image: url("/assets/images/bg-2-1080.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-text-light {
    color: #EFEDE6 !important;
}

.main-text-dark {
    color: #0f1d2c !important;
}

.main-card {
    border: 0px !important;
    border-left: 4px solid #233345 !important;
    background-color: transparent !important;
    border-radius: 0;

}

.header-text {
    font-weight: bolder;
    text-shadow: 1px 1px #e83e73;
}