
h2 {
    border-bottom: 2px solid #b8b6af;
    margin-bottom:10px;
    padding-bottom: 10px;
}

h4 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
}

p, ul, li, td, th {
    font-size: small;
}

pre.highlight {
    /* background-color:rgba(255, 255, 255, 0.7); */
    border: 0px !important;
    border-left: 4px solid #b8b6af !important;
    border-radius: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    border: 1px solid #b8b6af;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 2px;
}

thead {
    box-sizing: border-box;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    box-sizing: border-box;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    padding: .5rem;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    border: 1px solid #b8b6af;
    border-bottom-width: 2px;
}

tbody {
    box-sizing: border-box;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    padding: .5rem;
    border: 1px solid #b8b6af;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: inherit;
}

hr {
    border-top: 2px solid #b8b6af;
}