---
layout: default
---


<div class="row">
    <div class="col-lg-2 col-md-4 d-none d-sm-none d-md-block">

        <img class="mx-auto img-thumbnail mb-2" src="/assets/images/thumb-500.jpg">

        <h4 class="mb-0">Chris Weaver</h4>
        <small>Software Developer</small>
        <small>Cheshire, UK</small>

        <div class="divider mb-3"></div>

        <a href="#experience" class="py-1">Experience</a>
        <div class="divider"></div>
        <a href="#education" class="py-1">Education</a>
        <div class="divider"></div>
        <a href="#skills" class="py-1">Skills</a>
    </div>  
    <div class="col-lg-10 col-md-8 col-sm-12">
      {% include footer-links.html %}
      {{ content }}
    </div>
</div>

